<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--登录注册部分-->
        <!--注册部分-->
        <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>main.java.net.user.controller.Register</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>Register</servlet-name>
            <url-pattern>/auth/register</url-pattern>
        </servlet-mapping>
        <!--登陆部分-->
        <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>main.java.net.user.controller.Login</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>Login</servlet-name>
            <url-pattern>/auth/login</url-pattern>
        </servlet-mapping>

    <!--Servlet部分-->
        <!--番茄时钟-->
        <!--创建番茄时钟-->
        <servlet>
            <servlet-name>CreateClock</servlet-name>
            <servlet-class>main.java.net.clock.service.CreateClock</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>CreateClock</servlet-name>
            <url-pattern>/tomato/createClock</url-pattern>
        </servlet-mapping>
        <!--历史番茄显示-->
        <servlet>
            <servlet-name>ShowTodoList</servlet-name>
            <servlet-class>main.java.net.clock.service.ShowTodoList</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>ShowTodoList</servlet-name>
            <url-pattern>/tomato/showTodoList</url-pattern>
        </servlet-mapping>
        <!--任务中断-->
        <servlet>
            <servlet-name>InterruptClock</servlet-name>
            <servlet-class>main.java.net.clock.service.InterruptClock</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>InterruptClock</servlet-name>
            <url-pattern>/tomato/interruptClock</url-pattern>
        </servlet-mapping>
        <!--完成任务-->
        <servlet>
            <servlet-name>FinishClock</servlet-name>
            <servlet-class>main.java.net.clock.service.FinishClock</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>FinishClock</servlet-name>
            <url-pattern>/tomato/finishClock</url-pattern>
        </servlet-mapping>
        <!--查看用户番茄数据-->
        <servlet>
            <servlet-name>ShowAnalysis</servlet-name>
            <servlet-class>main.java.net.clock.service.ShowAnalysis</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>ShowAnalysis</servlet-name>
            <url-pattern>/tomato/showAnalysis</url-pattern>
        </servlet-mapping>

    <!--心情日记部分-->
        <servlet>
            <servlet-name>CreateDiary</servlet-name>
            <servlet-class>main.java.net.diary.controller.CreateDiary</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>CreateDiary</servlet-name>
            <url-pattern>/diary/createDiary</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>ShowDiaryList</servlet-name>
            <servlet-class>main.java.net.diary.controller.ShowDiaryList</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>ShowDiaryList</servlet-name>
            <url-pattern>/diary/showTodoList</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>ShowDiary</servlet-name>
            <servlet-class>main.java.net.diary.controller.ShowDiary</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>ShowDiary</servlet-name>
            <url-pattern>/diary/showDiary</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>ShowDeletedDiaryList</servlet-name>
            <servlet-class>main.java.net.diary.controller.ShowDeletedDiaryList</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>ShowDeletedDiaryList</servlet-name>
            <url-pattern>/diary/showRecycle</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>EditDiary</servlet-name>
            <servlet-class>main.java.net.diary.controller.EditDiary</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>EditDiary</servlet-name>
            <url-pattern>/diary/editDiary</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>DeleteDiary</servlet-name>
            <servlet-class>main.java.net.diary.controller.DeleteDiary</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>DeleteDiary</servlet-name>
            <url-pattern>/diary/deleteDiary</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>DeleteInchDiary</servlet-name>
            <servlet-class>main.java.net.diary.controller.DeleteInchDiary</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>DeleteInchDiary</servlet-name>
            <url-pattern>/diary/deleteInchDiary</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>RegainDiary</servlet-name>
            <servlet-class>main.java.net.diary.controller.RegainDiary</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>RegainDiary</servlet-name>
            <url-pattern>/diary/regainDiary</url-pattern>
        </servlet-mapping>
    <!--评论部分-->
        <servlet>
            <servlet-name>commentPost</servlet-name>
            <servlet-class>main.java.net.friend.controller.CommentPost</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>commentPost</servlet-name>
            <url-pattern>/discuss/commentPost</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>showPostComment</servlet-name>
            <servlet-class>main.java.net.friend.controller.ShowPostComment</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>showPostComment</servlet-name>
            <url-pattern>/discuss/showPostComment</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>showUserComment</servlet-name>
            <servlet-class>main.java.net.friend.controller.ShowUserComment</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>showUserComment</servlet-name>
            <url-pattern>/discuss/showUserComment</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>DeleteUserComment</servlet-name>
            <servlet-class>main.java.net.friend.controller.DeleteUserComment</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>DeleteUserComment</servlet-name>
            <url-pattern>/discuss/deleteUserComment</url-pattern>
        </servlet-mapping>
        <servlet>
        <servlet-name>DeletePostComment</servlet-name>
        <servlet-class>main.java.net.friend.controller.DeletePostComment</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>DeletePostComment</servlet-name>
            <url-pattern>/discuss/deletePostComment</url-pattern>
        </servlet-mapping>



    <!--账单部分-->
        <servlet>
            <servlet-name>CreateBill</servlet-name>
            <servlet-class>main.java.net.bill.controller.CreateBill</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>CreateBill</servlet-name>
            <url-pattern>/bill/createBill</url-pattern>
        </servlet-mapping>

        <servlet>
            <servlet-name>ShowList</servlet-name>
            <servlet-class>main.java.net.bill.controller.ShowBillList</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>ShowList</servlet-name>
            <url-pattern>/bill/showTodoList</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>showAnalysis</servlet-name>
            <servlet-class>main.java.net.bill.controller.ShowBillAnalysis</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>showAnalysis</servlet-name>
            <url-pattern>/bill/showAnalysis</url-pattern>
        </servlet-mapping>

    <!--评论区部分-->
        <servlet>
            <servlet-name>PostMsg</servlet-name>
            <servlet-class>main.java.net.friend.controller.PostMsg</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>PostMsg</servlet-name>
            <url-pattern>/discuss/create</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>ShowAll</servlet-name>
            <servlet-class>main.java.net.friend.controller.ShowAll</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>ShowAll</servlet-name>
            <url-pattern>/discuss/showDiscussList</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>ShowByUserId</servlet-name>
            <servlet-class>main.java.net.friend.controller.ShowByUserId</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>ShowByUserId</servlet-name>
            <url-pattern>/discuss/showUserDiscuss</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>Like</servlet-name>
            <servlet-class>main.java.net.friend.controller.Like</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>Like</servlet-name>
            <url-pattern>/discuss/like</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>DeletePost</servlet-name>
            <servlet-class>main.java.net.friend.controller.DeletePost</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>DeletePost</servlet-name>
            <url-pattern>/discuss/deleteDiscuss</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>Transpond</servlet-name>
            <servlet-class>main.java.net.friend.controller.Transpond</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>Transpond</servlet-name>
            <url-pattern>/discuss/transpond</url-pattern>
        </servlet-mapping>
    <!--Filter部分-->
        <filter>
            <filter-name>EncodingFilter</filter-name>
            <filter-class>main.java.tool.FilterTool.EncodingFilter</filter-class>
            <init-param>
                <param-name>encoding</param-name>
                <param-value>utf-8</param-value>
            </init-param>
        </filter>
        <filter-mapping>
            <filter-name>EncodingFilter</filter-name>
            <url-pattern>/*</url-pattern>
        </filter-mapping>
        <filter>
            <filter-name>AccessControlFilter</filter-name>
            <filter-class>main.java.tool.FilterTool.AccessControlFilter</filter-class>
            <init-param>
                <param-name>accessControl</param-name>
                <param-value>Access-Control-Allow-Origin</param-value>
            </init-param>
        </filter>
        <filter-mapping>
            <filter-name>AccessControlFilter</filter-name>
            <url-pattern>/*</url-pattern>
        </filter-mapping>

</web-app>